<div class="blockcode">
    <footer class="page-footer shadow" style="background-color: darkred">
        <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
            <div class="d-flex flex-wrap justify-content-between">
                <div class="align-self-center">
                    <a href="/#" class="d-flex align-items-center p-0 text-light">
                        <img alt="logo" src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-6/420829455_1436987333917033_7474987499505699003_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=twnMmJWq_hsAX-sc52f&_nc_ht=scontent.fsgn5-10.fna&oh=00_AfCizh4jz1cZ-53SYnCmLTeTs_DkQLaQ3fxfHjjkkYjnZg&oe=65F1F2B8" width="100" />
                        <span class="ms-3 h5 font-weight-bold" style="text-decoration:none">TD-Freelancer and Develoyment</span>
                    </a>
                </div>
                <div>
                    <p class="h5 mb-4 text-light" style="font-weight: 600">TD-Freelancer and Develoyment</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                        <li class="my-2">
                            <a class="text-light" href="/">Resources</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">About Us</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">Contact</a>
                        </li>
                        <li class="my-2"><a class="text-light" href="/">Blog</a></li>
                    </ul>
                </div>
                <div>
                    <p class="h5 mb-4 text-light" style="font-weight: 600">Help</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                        <li class="my-2">
                            <a class="text-light" href="/">Support</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">Sign Up</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">Sign In</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p class="h5 mb-4 text-light" style="font-weight: 600">Help</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                        <li class="my-2">
                            <a class="text-light" href="/">Support</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">Sign Up</a>
                        </li>
                        <li class="my-2">
                            <a class="text-light" href="/">Sign In</a>
                        </li>
                    </ul>
                </div>
            </div>
            <small class="text-center mt-5 text-light">&copy; Devwares, 2020. All rights reserved.</small>
        </div>
    </footer>
</div>
