<div>
    <div class="container ">
        <div class="col-12">
            <div class="col-6" style="position:relative;top:20px">
                <a href="~/HomePage/Index" class="text-decoration-none">
                    <h3 style="color:azure;font-weight:700">TD-FreeLancer and Develoyment</h3>
                </a>
            </div>
        </div>
    </div>
</div>

