
<style>
    .video-container {
        display: flex;
        justify-content: space-between;
    }

    .video-frame {
        width: 30%;
    }
</style>



<h2 class="text-center" style="font-weight:bold; color: darkred">DEMO & VIDEOS</h2>
<hr style="width: 5%; border: 3px solid darkred; border-radius: 5px; margin: 2% 50% 0 45%; " />
<br />
<br />
<br />
<div class="video-container">
    <div class="video-frame">
        <iframe width="100%" height="250" src="https://www.youtube.com/embed/D3K_DSU3Jas?si=bn6WS_gEVyAEl1hC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-frame">
        <iframe width="100%" height="250" src="https://www.youtube.com/embed/RY4ViSsiyZ0?si=5KeLVyVFv4nfqeEh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-frame">
        <iframe width="100%" height="250" src="https://www.youtube.com/embed/z8RVnPRNQvo?si=rvAAof3W1RqidvRY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>





